<div id="content">
	<div class="container-fluid">
		<div class="container">
			<h1 style="padding-left: 16%">Account Settings</h1>
			<div class="col-md-9">
				<div class="panel panel-default text-center">
					<%= image_tag("green_logo_text.png", id: "logo_login") %>
					<div class="panel-body">
						<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true, :class => 'form-horizontal' }) do |f| %>
						<%= devise_error_messages! %>
						<div class="form-group">
							<label class="col-sm-3 control-label">Full Name</label>
							<div class="col-sm-9">
								<%= f.text_field :name, class: 'form-control', :autofocus => true, :placeholder => 'Full Name' %>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Username</label>
							<div class="col-sm-9">
								<%= f.text_field :username, class: 'form-control', :placeholder => 'Username' %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :email, :class => 'col-sm-3 control-label' %>
							<div class="col-sm-9">
								<%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
							</div>
						</div>
						<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
						<div class="form-group">
							Currently waiting confirmation for: <%= resource.unconfirmed_email %>
						</div>
						<% end %>
						<div class="form-group">
							<%= f.label :password, :class => 'col-sm-3 control-label' %>
							<div class="col-sm-9">
								<%= f.password_field :password, class: 'form-control', placeholder: 'Leave it blank if you do not want to change it!', autocomplete: "off" %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :password_confirmation, :class => 'col-sm-3 control-label' %>
							<div class="col-sm-9">
								<%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Paasword Confirmation', autocomplete: "off" %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :current_password, :class => 'col-sm-3 control-label'%>
							<div class="col-sm-9">
								<%= f.password_field :current_password, class: 'form-control', placeholder: 'In order to make changes confirm using your current password', autocomplete: "off" %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :date_of_birth, :class => 'col-sm-3 control-label'  %>
							<div class="col-sm-9">
								<%= f.text_field :date_of_birth, :class => "form-control datepicker" %>
							</div>
						</div>
						<div class="form-group">
							<%= f.label :avatar, :class => 'col-sm-3 control-label' %>
							<div class="col-sm-9">
								<%= f.file_field :avatar,  class: 'form-control' %>
								<%= f.hidden_field :avatar_cache %>
							</div>
						</div>
						<div class="form-group">
							<%= f.button :submit, :class => "btn btn-primary" do %>
							Update <i class="fa fa-refresh"></i>
							<% end %>
						</div>
						<% end %>
						<div class="col-xs-12 .col-md-8">
							<h4>Deactivate Account</h4>
							<p>
								We're sorry to hear you'd like to remove your account. By pressing the button bellow, your account
								will be deactivated. You should know:
							</p>
							<p>
								<strong> Your photos, trips, progress, comments, likes, messages and friendships (everything)
								will be removed permanently and will not be recoverable.</strong>
							</p>
							<%= button_to registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,  class: 'btn btn-danger' do%>
							Deactivate Account <i class="fa fa-times"></i>
							<% end %>
							<%= link_to "Back", :back, {:class => "comment-author"} %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
