
<div class="center-block col-md-6 " style="float:none !important; ">
	<div class="timeline-block">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="media">
					<a href="" class="pull-left"> <%= image_tag(@post.user.avatar, :class => "media-object", :style => "widht: 100px; height: 100px;") %> </a>
					<div class="media-body">
						<a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
						<a href=""><%= @post.user.name %></a>
						<span>on <%= @post.created_at.strftime('%a, %d %b %Y') %> </span>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<p><%= @post.content %></p>
				<%= image_tag(@post.attachment.url, :class => "img-responsive", :style => "margin-left: auto; margin-right: auto") %>
			</div>
		</div>
	</div>
</div>
