<p id="notice"><%= notice %></p>
<p>
  <strong>Attachment:</strong>
  <%= image_tag(@post.attachment.url, width: "630") %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.username %>
</p>
<% if current_user = @post.user %>
	<%= link_to 'Edit', edit_post_path(@post) %> 
<% end %>
