		<div class="timeline-block">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="media">
						<a href="/user/<%= post.owner.username %>" class="pull-left"> <%= image_tag(post.owner.avatar, :class => "media-object", :style => "widht: 50px; height: 50px;") %> </a>
						<div class="media-body">
							<a href="/user/<%= post.owner.username %>"><%= post.owner.name %></a>
							<span>on <%= post.created_at.strftime('%a, %d %b %Y') %> </span>
						</div>
					</div>
				</div>
				
				<% if post.trackable.user.username != post.owner.username %>
								<div class="panel-heading">
					<div class="media">
						<a href="/user/<%= post.trackable.user.username %>" class="pull-left"> <%= image_tag(post.trackable.user.avatar, :class => "media-object", :style => "widht: 50px; height: 50px;") %> </a>
						<div class="media-body">
							<a href="/user/<%= post.trackable.user.username %>"><%= post.owner.name %></a>
							<span>on <%= post.trackable.created_at.strftime('%a, %d %b %Y') %> </span>
						</div>
					</div>
				</div>
				<% end %>
				<div class="panel-body">
					<p>
						<%= post.trackable.content %>
					</p>
					<a href="/posts/<%= post.trackable.id %>"> <% if post.trackable.attachment.url %><%= image_tag(post.trackable.attachment.url, :class => "img-responsive", :style => "margin-left: auto; margin-right: auto") %></a>
					<% end %>
					<div style="margin-top: 2%;">
						<% if (current_user.voted_for? post.trackable) %>
						<% if current_user.liked? post.trackable %>
						<%= button_to  unvoteUp_post_path(post.trackable), :class => "btn btn-primary pull-left",  method: :put  do%>
						<i class=" fa fa-thumbs-up fa-lg"></i> <%= post.trackable.votes_for.up.size %> Unvote Like
						<% end %>
						<% elsif  current_user.disliked? post.trackable %>
						<%= button_to  unvoteDown_post_path(post.trackable), :class => "btn btn-primary pull-left",  method: :put  do%>
						<i class=" fa fa-thumbs-down fa-lg"></i> <%= post.trackable.votes_for.down.size %> Unvote Dislike
						<% end %>
						<% end %>
						<% else %>
						<%= button_to  like_post_path(post.trackable), :class => "btn btn-primary pull-left", :style => "margin-right: 1%;",  method: :put  do%>
						<i class=" fa fa-thumbs-up fa-lg"></i> <%= post.trackable.votes_for.up.size %>
						<% end %>
						<%= button_to dislike_post_path(post.trackable), :class => "btn btn-primary pull-left", method: :put do%>
						<i class=" fa fa-thumbs-down fa-lg"></i> <%= post.trackable.votes_for.down.size %>
						<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>