<div class="container">

	<div class="panel panel-default">
		<div class="panel-heading panel-heading-gray">
		<i class="fa fa-fw fa-group"></i> Friends
		</div>

		<!-- Data table -->
		<table id="data-table" class="table" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Name</th>
					<th>Username</th>
					<th>Email</th>
					<th>Status</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>Name</th>
					<th>Username</th>
					<th>Email</th>
					<th>Status</th>
				</tr>
			</tfoot>
			<tbody>
				<% @friends3.each do |friend| %>
				<tr>
					<td><a href="/user/<%= friend.username %>"><%= image_tag(friend.avatar.url, class: "img-circle", width: "40") %> <%= friend.name %></a></td>
					<td><%= friend.username %></td>
					<td><%= friend.email %></td>
					<td>
					<button class="btn btn-success">
						<i class=" fa fa-check"></i> Following
					</button></td>
				</tr>
				<%end%>
			</tbody>
		</table>
		<!-- // Data table -->
	</div>
</div>

