<div class="container">
	<div class="cover profile">
		<div class="wrapper">
			<div class="image">
				<img src="assets/profile-cover.jpg" alt="people" />
			</div>
			<ul class="friends">
				<% @friends4.each do |friend| %>
				<li>
					<%= link_to image_tag(friend.avatar.url, class: "img-responsive", width: "110"), controller: 'application', action: 'home', username: friend.username %>
				</li>
				<%end%>
				<li>
					<a href="/friends" class="group"><i class="fa fa-group"></i></a>
				</li>
			</ul>
		</div>
		<div class="cover-info">
			<div class="avatar">
				<%= image_tag(current_user.avatar.url) %>
			</div>
			<div class="name">
				<a href="/user/<%= current_user.username %>"> <%= current_user.name %> </a>
			</div>
			<ul class="cover-nav">
				<li class="active">
					<a href="/home"><i class="fa fa-fw icon-ship-wheel"></i> Timeline</a>
				</li>
				<li>
					<a href="/user/<%= current_user.username %>"><i class="fa fa-fw icon-user-1"></i> About</a>
				</li>
				<li>
					<a href="/friends"><i class="fa fa-fw fa-users"></i> Friends</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-lg-12">
		<%= render partial: "posts/form" %>
	</div>
	<div class="col-xs-6 col-md-4">
		<div class="timeline-block">
			<div class="panel panel-default">
				<div class="panel-heading panel-heading-gray">
					<i class="fa fa-rss"></i> Public Activity
				</div>
				<% @activities.each do |activity| %>
				<div class="activity">
					<%= link_to activity.owner.username, activity.owner if activity.owner %>
					<%= render_activity activity %>
				</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="col-xs-6 col-md-4" id="postsDiv">
		<% @posts.each do |post| %>
		<div class="timeline-block">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="media">
						<a href="/user/<%= post.owner.username %>" class="pull-left"> <%= image_tag(post.owner.avatar, :class => "media-object", :style => "widht: 50px; height: 50px;") %> </a>
						<div class="media-body">
							<a href="/user/<%= post.owner.username %>"><%= post.owner.name %></a>
							<span>on <%= post.created_at.strftime('%a, %d %b %Y') %> </span>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<p>
						<%= post.trackable.content %>
					</p>
					<a href="/posts/<%= post.trackable.id %>"><%= image_tag(post.trackable.attachment.url, :class => "img-responsive", :style => "margin-left: auto; margin-right: auto") %></a>
					<div style="margin-top: 2%;">
						<% if (current_user.voted_for? post.trackable) %>
						<% if current_user.liked? post.trackable %>
						<%= button_to  unvoteUp_post_path(post.trackable), :class => "btn btn-primary pull-left",  method: :put  do%>
						<i class=" fa fa-thumbs-up fa-lg"></i> <%= post.trackable.votes_for.up.size %> Unvote Like
						<% end %>
						<% elsif  current_user.disliked? post.trackable %>
						<%= button_to  unvoteDown_post_path(post.trackable), :class => "btn btn-primary pull-left",  method: :put  do%>
						<i class=" fa fa-thumbs-down fa-lg"></i> <%= post.trackable.votes_for.down.size %> Unvote Dislike
						<% end %>
						<% end %>
						<% else %>
						<%= button_to  like_post_path(post.trackable), :class => "btn btn-primary pull-left", :style => "margin-right: 1%;",  method: :put  do%>
						<i class=" fa fa-thumbs-up fa-lg"></i> <%= post.trackable.votes_for.up.size %>
						<% end %>
						<%= button_to dislike_post_path(post.trackable), :class => "btn btn-primary pull-left", method: :put do%>
						<i class=" fa fa-thumbs-down fa-lg"></i> <%= post.trackable.votes_for.down.size %>
						<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<%= will_paginate @posts%>
		<%end%>
	</div>

	<div class="col-xs-6 col-md-4">
		<div class="timeline-block">
			<div class="panel panel-default">
				<div class="panel-heading panel-heading-gray">
					<i class="fa fa-globe"></i> Notifications
				</div>
				<% @notifications.each do |notification| %>
				<div class="activity">
					<%= link_to notification.owner.username, notification.owner if notification.owner %>
					<%= render_activity notification %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>