<% if @user3 %>

<div class="panel panel-default">
	<div class="panel-heading panel-heading-gray">
		Users
	</div>

	<!-- Data table -->
	<table id="data-table" class="table" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Name</th>
				<th>Username</th>
				<th>Email</th>
				<th>Status</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Name</th>
				<th>Username</th>
				<th>Email</th>
				<th>Status</th>
			</tr>
		</tfoot>
		<tbody>
		<% @user3.each do |user| %>
			<tr>
				<td><a href="/user/<%= user.username %>"><%= image_tag(user.avatar.url, class: "img-circle", width: "40") %> <%= user.name %></a></td>
				<td><%= user.username %></td>
				<td><%= user.email %></td>
				<td> <% if current_user != user %>
				<% if current_user.friends? user %>
				<button class="btn btn-success"> <i class=" fa fa-check"></i> Following</button>
				<% else %>
				<%= button_to follow_user_path(user), class: "btn btn-primary", method: :post do %> <i class=" fa fa-user"></i> Follow
				<% end %>
				<% end %>
				<% end %> </td>
			</tr>
		<%end%>
		</tbody>
	</table>
	<!-- // Data table -->
</div>

<% else %>
<h1> No available username <%= params[:search] %> </h1>
<% end %>