<div class="navbar navbar-main navbar-primary navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a data-toggle="sidebar-chat" class="btn btn-link navbar-btn visible-xs"><i class="fa fa-comments"></i></a>
                <a class="navbar-brand" href="/home"><%= image_tag("white_logo.png", id: "logo_main") %></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav navbar-right">
	                <li>
	                <%= form_tag(users_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="input-append">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search User" %>
      <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
           of using a Rails form helper -->
      <button class="btn" type="submit"><i class="icon-search"></i></button>
    </div>
  <% end %>
	                </li>
                    <li class="hidden-xs">
                        <a href="#" data-toggle="sidebar-chat">
                            <i class="fa fa-comments"></i>
                        </a>
                    </li>

                    <!-- User -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle user" data-toggle="dropdown">
                            <%= image_tag(current_user.avatar.url, class: "img-circle", width: "40") %>
<!--                         <%= image_tag("guy-5.jpg", class: "img-circle", width: "40") %> -->
                            <!-- <img src="assets/guy-5.jpg" alt="Bill" class="img-circle" width="40" /> Bill <span class="caret"></span> -->
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><%= link_to   "Profile", controller: 'application', action: 'show', username: current_user.username %>
                            </li>
                            <li>
                                <%= link_to('Edit registration', edit_user_registration_path) %>
                            </li>
                            <li><a href="user-private-messages.html">Messages</a>
                            </li>
                            <li>
                               <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>        
                            </li>
                           

                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            </div>
    </div>

    <!-- Chat Code -->
    <div class="sidebar right">
        <div class="chat-search">
            <input type="text" class="form-control" placeholder="Search" />
        </div>
        <ul class="chat-filter nav nav-pills ">
            <li class="active"><a href="#" data-target="li">All</a>
            </li>
            <li><a href="#" data-target=".online">Online</a>
            </li>
            <li><a href="#" data-target=".offline">Offline</a>
            </li>
        </ul>
        <ul class="chat-contacts">
            <li class="online" data-user-id="1">
                <a href="#">
                    <div class="media">
                        <div class="pull-left">
                            <span class="status"></span>
                            <%= image_tag("guy-6.jpg", class: "img-circle", width: "40") %>
                            <!-- <img src="assets/guy-6.jpg" width="40" class="img-circle" /> -->
                        </div>
                        <div class="media-body">
                            <div class="contact-name">Jonathan S.</div>
                            <small>"Free Today"</small>
                        </div>
                    </div>
                </a>
            </li>
            <li class="online away" data-user-id="2">
                <a href="#">
                    <div class="media">
                        <div class="pull-left">
                            <span class="status"></span>
                            <%= image_tag("woman-5.jpg", class: "img-circle", width: "40") %>
                            <!-- <img src="assets/woman-5.jpg" width="40" class="img-circle" /> -->
                        </div>
                        <div class="media-body">
                            <div class="contact-name">Mary A.</div>
                            <small>"Feeling Groovy"</small>
                        </div>
                    </div>
                </a>
            </li>
            <li class="online" data-user-id="3">
                <a href="#">
                    <div class="media">
                        <div class="pull-left">
                            <span class="status"></span>
                            <%= image_tag("guy-3.jpg", class: "img-circle", width: "40") %>
                            <!-- <img src="assets/guy-3.jpg" width="40" class="img-circle" /> -->
                        </div>
                        <div class="media-body">
                            <div class="contact-name">Adrian D.</div>
                            <small>Busy</small>
                        </div>
                    </div>
                </a>
            </li>
            <li class="offline" data-user-id="4">
                <a href="#">
                    <div class="media">
                        <div class="pull-left">
                        <%= image_tag("woman-6.jpg", class: "img-circle", width: "40") %>
                            <!-- <img src="assets/woman-6.jpg" width="40" class="img-circle" /> -->
                        </div>
                        <div class="media-body">
                            <div class="contact-name">Michelle S.</div>
                            <small>Offline</small>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <script id="chat-window-template" type="text/x-handlebars-template">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="chat-collapse" data-target="#chat-bill">
                <a href="#" class="close"><i class="fa fa-times"></i></a>
                <a href="#">
                <%= image_tag("{{ user_image }}", class: "pull-left", width: "40") %>
                    <!-- <img src="{{ user_image }}" width="40" class="pull-left"> -->
                    <span class="contact-name">{{user}}</span>
                </a>
            </div>
            <div class="panel-body" id="chat-bill">
                <div class="media">
                    <div class="pull-left">
                    <%= image_tag("{{ user_image }}", class: "img-circle", width: "25") %>
                        <img src="{{ user_image }}" width="25" class="img-circle" alt="people" />
                    </div>
                    <div class="media-body">
                        <span class="message">Feeling Groovy?</span>
                    </div>
                </div>
                <div class="media right">
                    <div class="pull-right">
                    <%= image_tag("{{ user_image }}", class: "img-circle", width: "25") %>
                        <img src="{{ user_image }}" width="25" class="img-circle" alt="people" />
                    </div>
                    <div class="media-body">
                        <span class="message">Yep.</span>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                    <%= image_tag("{{ user_image }}", class: "img-circle", width: "25") %>
                        <img src="{{ user_image }}" width="25" class="img-circle" alt="people" />
                    </div>
                    <div class="media-body">
                        <span class="message">This chat window looks amazing.</span>
                    </div>
                </div>
                <div class="media right">
                    <div class="pull-right">
                    <%= image_tag("{{ user_image }}", class: "img-circle", width: "25") %>
                        <img src="{{ user_image }}" width="25" class="img-circle" alt="people" />
                    </div>
                    <div class="media-body">
                        <span class="message">Thanks!</span>
                    </div>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="Type message..." />
        </div>
    </script>
    <div class="chat-window-container"></div>