<!DOCTYPE html>
<html>
<head>
  <title>Drifter: Dream Discover Share</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'default.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'vendor.min'%>
  <%= javascript_include_tag 'scripts.min'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/fixedHeadBar" %>


<%= yield %>

<%= render partial: "layouts/fixedFooter" %>

</body>
</html>